<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditStudentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditStudentLabel_studentId}" for="studentId" />
                    <h:inputText id="studentId" value="#{studentController.selected.studentId}" title="#{bundle.EditStudentTitle_studentId}" required="true" requiredMessage="#{bundle.EditStudentRequiredMessage_studentId}"/>
                    <h:outputLabel value="#{bundle.EditStudentLabel_addressCity}" for="addressCity" />
                    <h:inputText id="addressCity" value="#{studentController.selected.addressCity}" title="#{bundle.EditStudentTitle_addressCity}" required="true" requiredMessage="#{bundle.EditStudentRequiredMessage_addressCity}"/>
                    <h:outputLabel value="#{bundle.EditStudentLabel_addressState}" for="addressState" />
                    <h:inputText id="addressState" value="#{studentController.selected.addressState}" title="#{bundle.EditStudentTitle_addressState}" required="true" requiredMessage="#{bundle.EditStudentRequiredMessage_addressState}"/>
                    <h:outputLabel value="#{bundle.EditStudentLabel_addressStreet}" for="addressStreet" />
                    <h:inputText id="addressStreet" value="#{studentController.selected.addressStreet}" title="#{bundle.EditStudentTitle_addressStreet}" required="true" requiredMessage="#{bundle.EditStudentRequiredMessage_addressStreet}"/>
                    <h:outputLabel value="#{bundle.EditStudentLabel_addressZipcode}" for="addressZipcode" />
                    <h:inputText id="addressZipcode" value="#{studentController.selected.addressZipcode}" title="#{bundle.EditStudentTitle_addressZipcode}" required="true" requiredMessage="#{bundle.EditStudentRequiredMessage_addressZipcode}"/>
                    <h:outputLabel value="#{bundle.EditStudentLabel_studentName}" for="studentName" />
                    <h:inputText id="studentName" value="#{studentController.selected.studentName}" title="#{bundle.EditStudentTitle_studentName}" required="true" requiredMessage="#{bundle.EditStudentRequiredMessage_studentName}"/>
                </h:panelGrid>
                <h:commandLink action="#{studentController.update}" value="#{bundle.EditStudentSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditStudentViewLink}"/>
                <br />
                <h:commandLink action="#{studentController.prepareList}" value="#{bundle.EditStudentShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditStudentIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
