<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListStudentTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListStudentEmpty}" rendered="#{studentController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{studentController.items.rowCount > 0}">
                    <h:outputText value="#{studentController.pagination.pageFirstItem + 1}..#{studentController.pagination.pageLastItem + 1}/#{studentController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{studentController.previous}" value="#{bundle.Previous} #{studentController.pagination.pageSize}" rendered="#{studentController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{studentController.next}" value="#{bundle.Next} #{studentController.pagination.pageSize}" rendered="#{studentController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{studentController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentTitle_studentId}"/>
                            </f:facet>
                            <h:outputText value="#{item.studentId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentTitle_addressCity}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressCity}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentTitle_addressState}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressState}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentTitle_addressStreet}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressStreet}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentTitle_addressZipcode}"/>
                            </f:facet>
                            <h:outputText value="#{item.addressZipcode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListStudentTitle_studentName}"/>
                            </f:facet>
                            <h:outputText value="#{item.studentName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{studentController.prepareView}" value="#{bundle.ListStudentViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{studentController.prepareEdit}" value="#{bundle.ListStudentEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{studentController.destroy}" value="#{bundle.ListStudentDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{studentController.prepareCreate}" value="#{bundle.ListStudentCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListStudentIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
