<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>Layout page!</title>
    </h:head>
    <h:body>
        
        <!--in interiorul tagului <ui:composition> se scrie tot codul care va fi vizibil in partea lui de pagina - Tiles-->
        <ui:composition>
           @Copyright IUCOSOFT 2019
        </ui:composition>

    </h:body>
</html>