<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>Layout page!</title>
    </h:head>
    <h:body>

         <style>
            #header{
                height: 150px;
                background-color: cornflowerblue;
            }
            #content{
                min-height: 650px;
                background-color: darkcyan;
            }
            #footer{
                height: 100px;
                background-color: cornflowerblue;
            }
        </style>
        
        <!--atributul "name" indica numele unic al blocului de pagina (a partii Tiles in interiorul ei)-->
        <div id="header">
            <ui:insert name="header">
                <!--in tagul <ui:include> se scrie calea spre fisierul .xhtml inclus - partea tiles-->
                <ui:include src="common/header.xhtml"/>
            </ui:insert>
        </div>
        
        <div id="content">
            <ui:insert name="content">

            </ui:insert>
        </div>
        
        <div id="footer">
            <ui:insert name="footer">
                <ui:include src="common/footer.xhtml"/>
            </ui:insert>
        </div>
        
    </h:body>
</html>