<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>Specialties</title>
    </h:head>
    <h:body>
        <ui:composition template="layouts/layout.xhtml">

            <ui:define name="content">
                <h2>Welcome to Specialties page!</h2>

                <h:form>
                    <p:dataTable value="#{specialtyBean.specialtyList}" var="specialty">
                        <p:column headerText="ID" >
                            #{specialty.id}
                        </p:column>

                        <p:column headerText="Name">
                            #{specialty.name}
                        </p:column>

                        <p:column headerText="Number of students">
                            #{specialty.nrOfStudents}
                        </p:column>

                        <p:column headerText="Professor">
                            #{specialty.nameProfessor}
                        </p:column>

                        <p:column headerText="Edit" >
                            <p:commandButton value="Edit" action="#{specialtyBean.editSpecialty()}"/>
                        </p:column>

                        <p:column headerText="Delete">
                            <p:commandButton value="Delete" action="#{specialtyBean.deleteSpecialty()}"/>
                        </p:column>
                    </p:dataTable>
                </h:form>


                <h:form>
                    <h:panelGrid columns="2">

                        <p:outputLabel value="ID"/>
                        <p:inputText value="#{specialtyBean.specialtyClearForm.id}" disabled="true"/>

                        <p:outputLabel value="Name"/>
                        <p:inputText value="#{specialtyBean.specialtyClearForm.name}"/>

                        <p:outputLabel value="Number of students"/>
                        <p:inputText value="#{specialtyBean.specialtyClearForm.nrOfStudents}"/>

                        <p:outputLabel value="Professor name"/>
                        <p:inputText value="#{specialtyBean.specialtyClearForm.nameProfessor}"/>
                        
                        <p:commandButton value="Save" action="#{specialtyBean.saveSpecialty()}"/>



                    </h:panelGrid>

                </h:form>




            </ui:define>
        </ui:composition>

    </h:body>
</html>