<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>JSF 2.0 Hello World</title>
    </h:head>
    <h:body>
        <ui:composition template="layouts/layout.xhtml">
            <ui:define name="content">
                <h3>JSF 2.0 Hello World Example - welcome.xhtml</h3>

                <h:form id="form-table">
                    <!--            #  { }  - se foloseste pentru a apela o metoda din ManagedBean-->
                    <p:dataTable value="#{studentBean.studentList}" var="student" paginator="true" paginatorPosition="bottom" 
                                 rowsPerPageTemplate="1, 2, 3, 5" rows="2"
                                 id="students-table">
                        <p:column headerText="ID" width="20">
                            #{student.id}
                        </p:column>

                        <p:column headerText="Name" sortBy="#{student.name}" >
                            #{student.name}
                        </p:column>

                        <p:column headerText="Nationality" sortBy="#{student.nationality}" filterBy="#{student.nationality}" filterMatchMode="contains">
                            #{student.nationality}
                        </p:column>

                        <p:column headerText="Code">
                            #{student.code}
                        </p:column>

                        <p:column headerText="Entering date">
                            <h:outputLabel value="#{student.enteringDate}">
                                <f:convertDateTime pattern="dd-MM-yyyy"/>
                            </h:outputLabel>
                        </p:column>

                        <!-- aici mai adaugam o coloana cu BUTON Delete Student -->
                        <p:column headerText="Delete" width="50">
                            <!--atributul update - se foloseste pentru a face refresh la form.-->
                            <p:commandButton icon="ui-icon-trash" action="#{studentBean.deleteStudent(student)}" update="students-table :edit-form:warning-messages">
                                <!--tagul p:confirm - ne returneaza o fereastra de dialog de confirmare-->
                                <p:confirm header="Confirmation" message="Are you sure to delete?" icon="pi pi-exclamation-triangle" />
                            </p:commandButton>
                        </p:column>

                        <p:column headerText="Edit" width="50">
                            <p:commandButton icon="ui-icon-pencil" action="#{studentBean.editStudent(student)}" 
                                             update="students-table :edit-form:edit-form-panel-grid :edit-form:warning-messages"/>
                        </p:column>
                    </p:dataTable>

                    <!--aceasta este fereastra de dialog - de delete student-->
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                    </p:confirmDialog>  

                </h:form>


                <h:form id="edit-form">
                    <p:growl id="warning-messages" />
                    <h:panelGrid columns="2" id="edit-form-panel-grid">

                        <p:outputLabel value="ID" />
                        <p:inputText value="#{studentBean.studentForm.id}" disabled="true"/>

                        <p:outputLabel value="Name" />
                        <p:inputText value="#{studentBean.studentForm.name}" required="true" requiredMessage="Name should be longer than 3 chars!">
                            <!--facem validarea. Campul nu trebuie sa aiba mai putin de 3 caractere.-->
                            <f:validateLength minimum="3"/>
                        </p:inputText>

                        <p:outputLabel value="Entering date"/>
                        <p:datePicker value="#{studentBean.studentForm.enteringDate}" showIcon="true"/>

                        <p:outputLabel value="Nationality" />
                        <p:selectOneMenu value="#{studentBean.studentForm.nationality}" required="true" requiredMessage="Nationality is required!">
                            <f:selectItem itemLabel="Alege nationalitatea" itemValue="#{null}" noSelectionOption="true" />
                            <f:selectItem itemLabel="MD" itemValue="MD" />
                            <f:selectItem itemLabel="RU" itemValue="RU" />
                            <f:selectItem itemLabel="RO" itemValue="RO" />
                        </p:selectOneMenu>

                        <p:outputLabel value="Code" />
                        <p:inputText value="#{studentBean.studentForm.code}"/>

                        <!--in atributul update scriem id de la forma, la care trebuie sa faca Update, imediat dupa ce face Save-->
                        <!--id se separa prin : daca sunt in alta forma. In caz ca sunt in aceeasi forma, se scrie doar id in ghilimele-->
                        <p:commandButton value="Save" action="#{studentBean.saveStudent()}" update=":form-table:students-table  warning-messages"/>

                    </h:panelGrid>

                </h:form>

            </ui:define>
        </ui:composition>
    </h:body>
</html>