<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>JSF 2.0 Hello World</title>
    </h:head>
    <h:body>

        <h3>#{msg['hello']}</h3>

        <h:form>
            <h:selectOneMenu valueChangeListener="#{languageBean.languageChangedListener}" onchange="submit()">
                <f:selectItems value="#{languageBean.languageMap}"/>
            </h:selectOneMenu>

            <h:inputText value="#{helloBean.name}"></h:inputText>
            <h:commandButton value="#{msg['welcome.btn']}" action="welcome"></h:commandButton>
            <hr/>

            <ui:remove>
                <h:link outcome="students-page" value="Students Page" />
            </ui:remove>

            <h:commandLink action="#{studentBean.goToStudentsPage()}" value="Students Page {Action}"></h:commandLink>
        </h:form>
    </h:body>
</html>