<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>JSF 2.0 Hello World</title>
    </h:head>
    <h:body>
        <h3>JSF 2.0 Hello World Example - welcome.xhtml</h3>

        <h:form>
            <!--            #  { }  - se foloseste pentru a apela o metoda din ManagedBean-->
            <h:dataTable value="#{studentBean.studentList}" var="student">
                <h:column>
                    <!--facet - prima coloana de sus la header table-->
                    <f:facet name="header"> ID </f:facet>
                        #{student.id}
                </h:column>

                <h:column>
                    <f:facet name="header"> Name </f:facet>
                        #{student.name}
                </h:column>

                <h:column>
                    <f:facet name="header"> Nationality </f:facet>
                        #{student.nationality}
                </h:column>

                <h:column>
                    <f:facet name="header"> Code </f:facet>
                        #{student.code}
                </h:column>

                <!-- aici mai adaugam o coloana cu link Delete Student -->
                <ui:remove>
                    <h:column>
                        <f:facet name="header"> Delete </f:facet>
                        <h:commandLink value="Delete" action="#{studentBean.deleteStudent(student)}"/>
                    </h:column>
                </ui:remove>

                <!-- aici mai adaugam o coloana cu BUTON Delete Student -->
                <h:column>
                    <f:facet name="header"> Delete </f:facet>
                    <h:commandButton value="Delete" action="#{studentBean.deleteStudent(student)}"/>
                </h:column>
                
                <h:column>
                    <f:facet name="header"> Edit </f:facet>
                    <h:commandButton value="Edit" action="#{studentBean.editStudent(student)}"/>
                </h:column>
            </h:dataTable>
        </h:form>


        <h:form>
            <h:messages style="color:red" />
            <h:panelGrid columns="2">
                <h:outputLabel value="ID" />
                <h:inputText value="#{studentBean.studentForm.id}" disabled="true"/>

                <h:outputLabel value="Name" />
                <h:inputText value="#{studentBean.studentForm.name}" required="true" validatorMessage="Name should be longer than 3 chars!">
                    <!--facem validarea. Campul nu trebuie sa aiba mai putin de 3 carac tere.-->
                    <f:validateLength minimum="3"/>
                </h:inputText>

                <h:outputLabel value="Nationality" />
                <h:selectOneMenu value="#{studentBean.studentForm.nationality}" required="true" requiredMessage="Nationality is required!">
                    <f:selectItem itemLabel="Alege nationalitatea" itemValue="#{null}" noSelectionOption="true" />
                    <f:selectItem itemLabel="MD" itemValue="MD" />
                    <f:selectItem itemLabel="RU" itemValue="RU" />
                    <f:selectItem itemLabel="RO" itemValue="RO" />
                </h:selectOneMenu>

                <h:outputLabel value="Code" />
                <h:inputText value="#{studentBean.studentForm.code}"/>

                <h:commandButton value="Save" action="#{studentBean.saveStudent()}"/>

            </h:panelGrid>

        </h:form>



    </h:body>
</html>